@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap) format('ttf');

}
.app-wrapper {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    max-width: 1920px;
}
.first-menu {
    display: flex;
    background-color: #181A31;
    color: #FFFFFF;
    font-size: 12px;
}
.languages {
    height: 30px;
    position: relative;
    display: flex;
    text-transform:uppercase;
    margin: auto 0 auto 20%;
}
.languages div{
    margin-top: 6px;
}
.languages ul li{
    display: none;
}
.languages:hover ul li{
    display: block;
    cursor: pointer;
}
.languages img {
    position:relative;
    left: 2px;
    top: 13px;
    width: 100%;
    height: fit-content;
    margin: 0 2px;
    transform: rotate(0deg);
}
.languages:hover img {
    transform: rotate(180deg);
}
.сhange-language{
    top: 30px;
    box-shadow: 0 0 10px 1px rgb(34 60 80 / 5%);
    position: absolute;
    background: #FFFFFF;
    color: black;
    margin: 0;
    padding: 7px 0;
    border-radius: 5px;
}
.сhange-language li {
    list-style-type: none;
    padding: 6px 16px;
}
.сhange-language li:hover {
    color: #008EF8;
    background: #F7F9FE;
;
}
.first-menu-block {
    opacity: 80%;
    margin-left: 80px;
    display: flex;
    padding: 10px 0 12px 0;
}
.first-menu-block .item {
    padding: 0 25px;
    border-left: 1px solid #4e4e4e;
}
.first-menu-block .item:first-child {
    border-left: none;
}
.search {
    margin-left: 15%;
    position: relative;
    padding: 2px 0;

}
.search input {
    width: 273px;
    height: 30px;
    border-radius: 5px;
    background: #4e4e4e;
}
input::placeholder {
    opacity: 100%;
    color: #9d9d9d;
}
.search img {
    left: 245px;
    top: 5px;
    position: absolute;
    width: 30px;
}

.second-menu {
    padding-left: 33%;
    display: flex;
    background-color: #FFFFFF;
    color: #181A31;
}
.second-menu-block {
    color: #181A31;
    font-size: 14px;
    display: flex;
    font-weight: 600;
}
.second-menu-block .item {
    position: relative;
    color: #181A31;
    padding: 20px 26px;
    filter: grayscale(100%);
}
.second-menu-block .item-active {
    position: relative;
    color: #181A31;
    padding: 20px 26px;
    filter: grayscale(100%);
}
.dropdown-menu{
    font-weight: 400;
}
.dropdown-menu{
    display: none;
}
.item-active:hover ul {
    display: block;
    cursor: pointer
}
.second-menu-block .item-active img{
    position: absolute;
    left: 135px;
    bottom: 25px;
    width: 9px;
    transform: rotate(0deg);
}
.item-active:hover img {
    transform: rotate(180deg);
}
.dropdown-menu{
    font-size: 14px;
    width: 100%;
    left: 2px;
    top: 65px;
    box-shadow: 0 0 10px 1px rgb(34 60 80 / 5%);
    position: absolute;
    background: #FFFFFF;
    color: black;
    margin: 0;
    padding: 7px 0;
    border-radius: 5px;
}
.dropdown-menu li {
    list-style-type: none;
    padding: 6px 16px;
}
.dropdown-menu li:hover {
    color: #008EF8;
    background: #F7F9FE;
;
}

.second-menu-block .item:hover {
    color: #008EF8;
    filter: grayscale(0%);
;
}
.second-menu-block .item-active:hover {
    color: #008EF8;
    filter: grayscale(0%);
;
}
.contact-information{
    margin: auto 2% auto 10%;
}
.telephone {
    margin-left: 25px;
    font-weight: 600;
}
.back-call {
   margin-left: 12px;
    font-size: 14px;
}
.contact-free {
    display: flex;
    opacity: 50%;
}

.social-media img{
    width: 15px;
}
.social-media img:first-child{
    margin-right: 10px;
}
.basket-picture {
    display: flex;
    position: relative;
}
.basket {
    margin: auto 0 auto 13px;
    height: 36px;
    display: flex;
    border-left: 1px solid #e0e0e0;
}
.basket-picture img {
    width: 18px;
    height: 18px;
    margin: auto 0 auto 22px;
}
.amount {
    position: absolute;
    left: 32px;
    background: #FC4646;
    border-radius: 1000px;
    width: 14px;
    height: 13px;
    font-size: 10px;
    color: #FFFFFF;
}
.basket-picture .amount p {
    position: absolute;
    left: 4px;
    top: -11px;
}
.basket-text{
    color: #0078D1;
    font-size: 16px;
    font-weight: 400;
    margin: auto 0 auto 9px;
}

.content {
    background: #E5E5E5;
    width: 100%;
    height: 600px;
}
.menu-burger-header {
    display: none;
}
.responsive-navigation-menu {
    display: none;
}
.mobile-version-navigation-menu {
    display: none;
}

@media only screen and (max-width: 729px) {
    .responsive-navigation-menu {
        display: block;
    }
    .responsive-navigation {
        top: 0;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        z-index: 111;
        background: white;
    }
    .header {
        display: none;
    }
    .languages{
        color: #181A31;
        margin: auto;
    }
    .languages img{
        width: 5px;
    }
    .telephone {
        font-size: 14px;
    }
    .back-call {
        font-size: 12px;
        margin-left: 50px;
    }
    .contact-information {
        position: relative;
    }
    .social-media {
        position: absolute;
        top: 10px;
        left: -35px;
    }


    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu-burger-body {
        visibility: visible;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 17px;
        right: 15px;
        width: 18px;
        height: 15px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu-burger-header {
        margin-left: 10px;
        background: #008EF8;
        min-width: 50px;
        height: 50px;
        display: flex;
    }
    .menu-burger-body {
        position: fixed;
        visibility: visible;
        top: 50px;
        right: 0;
        transition-duration: .25s;
        background: white;
        display: flex;
        float: right;
        flex-direction: column;
        width:300px;
        z-index: 20;
    }
    .second-menu-block {
        flex-direction: column;
        font-size: 16px;
    }
    .first-menu-block {
        flex-direction: column;
    }
    .first-menu-block  {
        opacity: 100%;
        margin: 0;
    }
    .first-menu-block .item {
        padding: 10px 26px;
        border: none;
        color: #181A31;
        font-weight: 600;
    }
    .first-menu-block .item:hover {
        color: #008EF8;
        filter: grayscale(0%);
    }
    .second-menu-block .item-active {
        position: relative;
        padding: 10px 26px;
    }
    .dropdown-menu {
        position: relative;
        left: 0;
        top: 0;
        box-shadow: none;
    }
    .dropdown-menu li {
        padding: 25px 16px 0 16px;
    }
    .second-menu-block .item-active:hover {
        padding: 10px 26px 0 26px;
    }
    .dropdown-menu li {
        padding: 13px 16px 13px 16px;
    }
    .second-menu-block .item {
        padding: 10px 26px;
    }
    .second-menu-block .item-active img {
        top: 22px;
        left: 155px;
    }
    .menu-title {
        font-size: 28px;
        color: #181A31;
        font-weight: 400;
        margin: 24px 0 0 24px;
    }
    .search{
        max-width: 252px;
        margin: 0;
        padding: 24px;
        border-bottom: 1px solid #e0e0e0;
    }
    .search input {
        max-width: 252px;
        background: #fbfbfb;
        border: none;
    }
    input::placeholder {
        opacity: 100%;
        color: #979797;
    }
    .search img {
        top: 25px;
    }
    .content {
        display: none;
    }
    .picture-menu-burger {
        opacity: 10%;
        width: 100%;
        height: 100%;
        background: black;
    }
    .content-menu-burger {
        width: 100%;
        height: 589px;
        background: url("./img/image.png");
    }
}

@media only screen and (max-width: 320px) {
    .responsive-navigation-menu {
        display: none;
    }
    .mobile-version-navigation-menu {
        display: block;
    }
    .mobile-version-responsive-navigation {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        z-index: 111;
        background: white;
    }
    .basket-text {
        display: none;
    }
    .basket {
        border: none;
        margin: 10px 15px auto 13px;
    }
    .menu-burger-body {
        max-width: 320px;
        position: relative;
    }
    .menu-title {
        margin: 24px 0 0 12px;
    }
    .mobile-version-first-menu {
        display: flex;
        box-shadow: 1px 88px 47px -86px rgba(34, 60, 80, 0.05) inset;
    }
    .menu-title {
        font-size: 28px;
    }
    .languages {
        font-size: 12px;
        margin: 32px 0 0 5px;
    }
    .search {
        max-width: 156px;
        padding: 0;
        border: none;
        margin: 30px 12px 0 12px;
    }
    .search input{
        max-width: 156px;
    }
    .mobile-version-body-menu {
        padding: 26px 0 37px 12px;
        border-bottom: 1px solid #e0e0e0;
    }
    .second-menu-block .item {
        padding: 10px 0;
    }
    .first-menu-block .item {
        padding: 10px 0;
    }
    .second-menu-block .item-active{
        padding: 10px 0;
    }
    .second-menu-block .item-active:hover {
        padding: 10px 0;
    }
    .search img {
        top: 0;
        left: 130px;
    }
    .contact-information {
        margin: 12px 0 12px 12px;
    }
    .telephone {
        color: #008EF8;
        margin: 0;
    }
    .back-call {
        margin: 8px 0 0 0;
    }
    .social-media {
        top: 0;
        left: 225px;
    }
}
